body{
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: Raleway;
    src: url("https: //fonts.googleapis.com/css2?family=Raleway&display=swap");
}

.login-page{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* login square */
.login{
position: fixed;
    width: 663px;
    height: 389px;

    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    background: #161510;
}

/* background image login */
.background{
    background-color: black;
}

/* Logo */
.logo {
position: absolute;
left: 29.56%;
right: 29.56%;
top: 7.2%;
bottom: 78.92%;

width: 270px;
height: auto;
}

/* Welcome message */
.titel-login{
position: absolute;
width: 510px;
height: 30px;
left: 76px;
top: 112px;

font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

/* mail input */
.input{
position: absolute;
width: 340px;
height: 40px;
padding-left: 10px;
left: 155px;
top: 187px;

background: #161510;
border: 1px solid #FFFFFF;
border-radius: 8px;

font-style: normal;
font-weight: 400;
font-size: 20px;
color: #939393;
}

.text-input{

line-height: 24px;
display: flex;
align-items: center;
}

/* Button login */
.button-position{
    position: absolute;
    left: 248px;
    top: 306px;
}

.button {
box-sizing: border-box;
width: 166px;
height: 60px;

background: #F95B1C;
border: 2.5px solid #F95B1C;
border-radius: 8px;

align-items: center;
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

