/* Header */

.header{
    display: flex;
    grid-template-columns: 50% auto;    
    background-color: #161510;
}

.icon{
    height: 25px;
    width: 22px;
    color: #FFFFFF;
    margin-right: 10%;
}

.left{
    margin-left: 2%;
    left: 5%;
    width: 70%;
    display: flex;
}

.button-back {
    background-color: #161510;
    border: none;
}

.pageName{
    margin-left: 2%;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
}

.right{
    margin-right: 2%;
    display: flex;
    align-items: center;
    right: 0%;
    width: 30%;
}

.profile-image{
    height: 64px;
        width: 64px;
        right: 5%;
        top: 23px;
        border-radius: 64px;
        background-color: #F95B1C;
}
