/* Navigation */

.nav{
position: fixed;
width: 328px;
height: 1024px;
left: 0px;
top: 0px;
background-color: #161510;
}

/*logo */

.nav-logo{
position: absolute;
left: 8.54%;
right: 8.84%;
top: 4.88%;
bottom: 89.84%;

width: 270px;
height: auto;
}

/* Welkom {name} */

.nav-title{
position: absolute;
width: 328px;
height: 64px;
left: 0%;
right: 0.09%;
top: 16.02%;
bottom: 77.73%;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
align-items: center;
text-align: center;

color: #FFFFFF;
}